<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>Built with <a href="http://adonisjs.com" target="_blank">AdonisJs</a></p>

      <p>
       Course project for <a href="https://learnadonisjs.com" target="_blank">learn AdonisJs: from zero to deploy</a>.
      </p>
    </div>
  </div>
</footer>